<div class="card flex flex-col items-start justify-center">
  <p *ngIf="label" class="text-sm mb-1 text-gray-700">{{ label }}</p>
  <div class="card w-full">
    <p-toast></p-toast>
    <p-fileupload
      chooseLabel="File yuklash"
      [chooseStyleClass]="'!bg-purple-600 !border-none'"
      name="demo[]"
      (onSelect)="onUpload($event)"
      [multiple]="false"
      [accept]="accepts || 'image/*'"
      maxFileSize="1000000"
      mode="advanced"
      [className]="'w-full'"
      [ariaRequired]="required"
    >
      <ng-template #empty>
        <ng-content></ng-content>
        <!-- Xatoliklarni ko'rsatish -->
        <span *ngIf="error()" class="text-red-500 text-sm self-end px-2 py-1">
          {{ error() }}
        </span>
      </ng-template>
    </p-fileupload>
  </div>
</div>
