@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  background-color: #F9F9FC;
}


