<div class="mb-3">
  <label *ngIf="label" class="block mb-1 text-gray-600 text-sm">{{
    label()
  }}</label>
  <div
    #textAreaContainer
    (click)="textarea.focus()"
    class="border border-1 border-[#E0E2E7] px-2 py-2 rounded-lg bg-[#F9F9FC] cursor-text flex"
  >
    <mat-icon
      *ngIf="icon()"
      class="text-neutral-800 mr-2"
      [svgIcon]="icon()"
    ></mat-icon>
    <textarea
      #textarea
      [required]="required()"
      (input)="onInputChange(textarea.value)"
      [disabled]="isDisabled"
      [formControl]="formControl"

      (blur)="onBlur()"
      [placeholder]="placeholder()"
      (focus)="onFocus()"
      class="bg-transparent outline-none flex-1 text-gray-700 text-sm w-full"
      >{{ innerValue }}
  </textarea
    >
  </div>
  @if(error()) {
  <span class="text-red-500 text-sm self-end px-2 py-1">{{ error() }}</span>
  }
</div>
